body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    margin: 0;
    background-color: #f9f9f9;
}

.header {
    margin-bottom: 20px;
}

.header-title {
    background-color: #d94e44;
    color: white;
    text-align: center;
    padding: 10px;
}

.header-title h2 {
    font-size: 2em;
}

h2, h3 {
    margin: 0;
}

.navigation {
    background-color: white;
    border: none;
    border-left: 1px solid #d6d4d4;
    border-bottom: 1px solid #d6d4d4;
    text-align: center;
    padding: 14px;
    font-size: 1.4em;
    vertical-align: middle;
}

.navigation.new {
    color: #db4d3f;
    height: 100%;
    width: 100%;
    padding: 22px;
}

select {
    background-color: white;
    border: 1px solid #eeecec;
    border-radius: 2px;
    padding: 8px;
    font-size: 0.9em;
    line-height: 1.75em;
}


input {
    line-height: 1.75em;
}

/*button:focus {*/
    /*outline: none;*/
/*}*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    /*font-weight: bold;*/
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    /*font-weight: bold;*/
}

.main-content {
    max-width: 1000px;
    margin: 0 auto;
}

.article {
    margin-bottom: 20px;
}

.title {
    background-color: #d94e44;
    color: white;
    padding: 8px 8px 8px 15px;
}

.title h3 {
    font-size: 1.4em;
    font-weight: normal;
}

.content {
    background-color: #f6f4f4;
    padding: 20px 20px 0;
}

.flex {
    display: flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
}

.flex-item {
    width: 50%;
}

.options {
    width: 33.33%;
    font-size: 1.2em;
}

.portions {
    text-align: left;
}

.time {
    text-align: center;
}

.difficulty {
    text-align: right;
}

.label {
    display: block;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.row {
    padding-bottom: 20px;
    width: 100%;
}

.large-inputs {
    min-width: 50%;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ul li:before {
    content: '\00bb';
    display: inline-block;
    color: #db4d3f;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 0.8em;
    padding-right: 4px;
}

ol {
    padding-left: 20px;
}

ol li {
    padding-bottom: 5px;
}

li {
    font-size: 1.2em;
}

.flex-inputs:not(.add) {
    padding-right: 10px;
}

.qty {
    width: 25%;
    text-align: left;
}

.qty input {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid #eeecec;
    border-radius: 2px;
    padding: 3px 3px 3px 10px;
    box-sizing: border-box;
}

.unit {
    width: 25%;
    text-align: right;
}

.unit select {
    height: 100%;
    width: 100%;
    font-size: 1.2em;
}

.of {
    display: none;
    padding-top: 7px;
    text-align: center;
}

.ingredient {
    width: 40%;
    text-align: left;
}

.ingredient input {
    background-color: white;
    border: 1px solid #eeecec;
    border-radius: 2px;
    padding: 3px 3px 3px 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.add {
    width: 5%;
    text-align: right;
}

.add button {
    background-color: white;
    border: 1px solid #db4d3f;
    border-radius: 2px;
    color: #db4d3f;
    height: 100%;
    line-height: 1.75em;
    padding-top: 3px;
    vertical-align: middle;
}

.add-step {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid #db4d3f;
    border-radius: 2px;
    color: #db4d3f;
    padding: 10px;
    font-size: 1.4em;
}

.button {
    width: 100%;
    padding: 10px;
    border: 1px solid #db4d3f;
    border-radius: 2px;
    font-size: 1.4em;
}

.button.cancel {
    background-color: white;
    color: #db4d3f;
}

.button.save {
    background-color: #db4d3f;
    color: white;
}

@media only screen and (min-width: 640px) {
    .qty {
        width: 15%;
    }

    .qty input {
        width: 50%;
    }

    .unit {
        width: 15%;
    }

    .of {
        display: block;
        width: 15%;
    }

    .ingredient {
        width: 40%;
    }

    .add {
        width: 10%;
    }
}